@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
body {
    background-color: #E13A3A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .menu button {
    background-color: white;
    color: #E13A3A;
    font-family: 'Gothic A1 Bold', sans-serif;
    font-size: 12px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 30px;
  } 